<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>O nama</title>

<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/jelovnik.css}">
<link rel="stylesheet" th:href="@{/css/about.css}">


<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw3iFvWc5sydyKWJiZhsw4ItRsg0Jb7kw&callback=initMap">
	
</script>
</head>

<body>
	<main style="margin-bottom: 10px;">
		<header>

			<img id="img-logo" alt="Akademik logo"
				src="https://i.imgur.com/4jcl1bC.png">

			<nav>
				<ul class="nav-ul"
					style="line-height: 100px; margin: 0; padding: 0;">
					<li><a href="/home">Početna</a></li>
					<li><form class="dropdown" action="#" th:action="@{/jelovnik}"
							method="GET">
							<button class="dropbtn" disabled>Jelovnik</button>
							<div class="dropdown-content">
								<button class="dropbtn" name="vrsta_jela" th:value="pica">Pica</button>
								<button class="dropbtn" name="vrsta_jela" th:value="pasta">Pasta</button>
								<button class="dropbtn" name="vrsta_jela" th:value="sendvič">Sendvič</button>
								<button class="dropbtn" name="vrsta_jela" th:value="palačinka">Palačinka</button>
							</div>
						</form></li>
					<li><a class="active" href="#">O nama</a></li>
					<li><a href="/contact">Kontakt</a></li>
				</ul>
			</nav>

			<div id="menu-button">
				<button class="openbtn" onclick="openNav()">☰</button>
			</div>

			<div id="menu-button1">
				<button class="openbtn" onclick="openNav1()">☰</button>
			</div>
		</header>


		<div id="mySidebar" class="sidebar">
			<a href="javascript:void(0)" class="closebtn"
				onclick="closeNav1();closeNav();">×</a> <a href="/home">Početna</a> <a
				href="#">Jelovnik</a>

			<div style="padding-left: 60px;">
				<form action="#" th:action="@{/jelovnik}" method="GET">
					<button name="vrsta_jela" th:value="pica">Pica</button>
					<button name="vrsta_jela" th:value="pasta">Pasta</button>
					<button name="vrsta_jela" th:value="sendvič">Sendvič</button>
					<button name="vrsta_jela" th:value="palačinka">Palačinka</button>
				</form>

			</div>
			<a href="#">O nama</a> <a href="/contact">Kontakt</a>

		</div>

		<div class="upper-side">

			<h1>O nama</h1>

		</div>


		<div class="lower-side">


			<section id="left-section">

				<ul style="width: 100%; height: 100%; margin-top: 40px;">
					<li id="list-item"
						style="list-style-image: url('https://i.imgur.com/8XW7L7O.png?2');">Bulevar
						vojvode Stepe Stepanovića, 107b 78000 Banja Luka</li>
					<li id="list-item"
						style="list-style-image: url('https://i.imgur.com/Cjb7y84.png?2');">+387
						66 063-374</li>
					<li id="list-item"
						style="list-style-image: url('https://i.imgur.com/U1WRccL.png?2');">Radno
						vrijeme:
						<ol id="days-in-a-list">
							<li>Ponedeljak 7:00-23:00</li>
							<li>Utorak 7:00-23:00</li>
							<li>Srijeda 7:00-23:00</li>
							<li>Četvrtak 7:00-23:00</li>
							<li>Petak 7:00-23:00</li>
							<li>Subota 7:00-24:00</li>
							<li>Nedelja 7:00-24:00</li>
						</ol>


					</li>
				</ul>

			</section>

			<section id="right-section">
				<div id="map"></div>
			</section>

		</div>
	</main>

	<footer>
		<h1>AKADEMIK</h1>
		<div id="footer-div">
			<a
				href="https://www.facebook.com/pages/category/Coffee-Shop/%D0%9A%D0%B0%D1%84%D0%B5-%D0%B1%D0%B0%D1%80-%D0%90%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D0%BA-1716762081951964/"
				target="_blank"><img src="https://i.imgur.com/ymFnnB0.png"
				alt="facebook-icon"></a> <a
				href="https://www.instagram.com/kafebarakademik/" target="_blank"><img
				src="https://i.imgur.com/g8GtS19.png" alt="instagram-icon"></a> <a
				href="mailto: caffee.akadameki@gmail.com"><img
				src="https://i.imgur.com/tGkhSFu.png" alt="google-icon"></a>
		</div>
	</footer>

	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>

</html>